<section class="block wrap" id="services">
  <app-section-head index="04" headingKey="sv_h" descKey="sv_d" />
  <div class="svc">
    <div class="s reveal" appReveal>
      <div class="no mono">S/01</div>
      <h3>{{ 'sv1h' | transloco }}</h3>
      <p>{{ 'sv1p' | transloco }}</p>
      <div class="price">{{ 'sv1pr' | transloco }}</div>
    </div>
    <div class="s reveal" appReveal>
      <div class="no mono">S/02</div>
      <h3>{{ 'sv2h' | transloco }}</h3>
      <p>{{ 'sv2p' | transloco }}</p>
      <div class="price">{{ 'sv2pr' | transloco }}</div>
    </div>
    <div class="s reveal" appReveal>
      <div class="no mono">S/03</div>
      <h3>{{ 'sv3h' | transloco }}</h3>
      <p>{{ 'sv3p' | transloco }}</p>
      <div class="price">{{ 'sv3pr' | transloco }}</div>
    </div>
  </div>
</section>
