.hud {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 60;
}

.hud .tick {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid var(--steel);
  opacity: .5;
}

.hud .tl {
  top: 14px;
  left: 14px;
  border-right: none;
  border-bottom: none;
}

.hud .tr {
  top: 14px;
  right: 14px;
  border-left: none;
  border-bottom: none;
}

.hud .bl {
  bottom: 14px;
  left: 14px;
  border-right: none;
  border-top: none;
}

.hud .br {
  bottom: 14px;
  right: 14px;
  border-left: none;
  border-top: none;
}
